extends layout

block head
  meta(charset='utf-8')
  title= title
  link(rel='stylesheet', href='/css/style.css')
  block scripts
    script(src='/js/jquery-3.1.1.js')
    script(src='/js/jquery-ui.js')
    script(src="/js/index.js")
    script(src="/js/visualizer.js")
block content
  h2 音色 
    br
    form#submit_form(method="POST", action="/api/channel/voice/program/change")
      select#programs
        each program, i in programChange
          option(value=i+1) #{programChange[i]}
  h2 ピッチ 
    #slider-vertical-pitch

  h2 モジュレーション 
    #slider-vertical-modulation

  svg#equalizer

  svg#keyboard
    // white keys 
    - var white_i = 0;
    - while(white_i < 2921) {
      rect(x="#{white_i}" y="0" class="white-key")
      - white_i = white_i + 23;
    - }
    // black keys
    - var black_i = 0;
    - while(black_i < 2800) {
      rect(x="#{14.33333+black_i}" y="0" class="black-key")
      rect(x="#{41.66666+black_i}" y="0" class="black-key" )
      rect(x="#{82.25+black_i}"    y="0" class="black-key")
      rect(x="#{108.25+black_i}"   y="0" class="black-key")
      rect(x="#{134.75+black_i}"   y="0" class="black-key")
      - black_i = black_i + 161;
    - }

  h2 デバッグメッセージ
    #message
